
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared */
.dark1{
color: rgb(19, 19, 19);
}
.dark3{
  color: rgb(114, 114, 114);
}
.btn-primary{
  background-color: rgb(255, 144, 14);
  width: 180px;
  height: 64px;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  margin-top: 32px;
}
  /* main{
    max-width: 100%;
    margin: 0 auto;
  } */


  /* header */
  
  
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 180px 0 200px;
    
  }
  .brand{
    font-size: 3rem;
    font-weight:bold ;
  }
  .nav-item{
    font-size: 18px;
    font-weight: 500px;
    list-style: none;
    margin-right: 30px;}
  .navbar{
    text-decoration: none;
    color: rgb(66, 66, 66);
  }
  .nav-link{
    display: flex;
    
  }
  .bg-color{
    width: 1920px;
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
    margin: 0 auto;
    width: 100%;
    
  }
  .banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    
    
  }
  .banner-title{
    font-size: 4rem;
    font-weight: 700;
  
    margin-top: 36px;
  }
  .text{
    margin-top: 36px;
  }
  .banner-img{
    display: block;
    margin: auto;
    margin-top: 50px;
    
    
  }

  .teamImg{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    
    
  }
  .fdes{
    font-size: 3rem;
    font-weight: 700;
  }
  .quick{
    color: rgb(114, 114, 114);
    font-weight: 500;
  }
  span{
    color:rgb(255, 144, 14) ;
  }
  .team{
    display:flex;
    gap: 76px;
    justify-content: center;
    align-items: center;
    margin-top: 76px;
  }
  
  @media screen and (max-width:576px){
    .nav, .nav-item,.team{
      display: flex;
      flex-direction: column;
    }
    .banner-img{
      width: 100%;
    }
    
  }

  .line{
    width: 5px;
    height: 106px;
    background-color: rgb(255, 144, 14);
    border-radius: 2px;
    
  }
  .features{
    display: flex;
    
    align-items: center;
    gap:16px;
  }
  .destop{
    font-size: 20px;
    font-weight: 600;
  }
  .container{
    border-radius: 8px;
    

box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
width: 586px;
height: 151px;
padding: 30px;
margin-bottom: 20px;

  }
  .rectangle{
    width: 708px;
    height: 982px;
  }
  .box{
    display: flex;
    gap: 92px;
    align-items: center;
   
    justify-content: center;
    margin-top: 130px;
  }
  .experience-badge{
    width: 342px;
    height: 200px;
   
    border-radius: 8px;
    background-color: rgb(255, 144, 14);
    border: none;
    margin-left: -92px;
    margin-top: -100px;
    
  }
  .ex-year{
    font-size: 65px;
    font-weight: 700;
    color: white;
    
  }
  .experience{
    font-size: 25px;
    font-weight:500 ;
    color: white;
  } 