
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared */
.dark1{
color: rgb(19, 19, 19);
}
.dark3{
  color: rgb(114, 114, 114);
}
.btn-primary{
  background-color: rgb(255, 144, 14);
  width: 180px;
  height: 64px;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  margin-top: 32px;
}
  /* main{
    max-width: 100%;
    margin: 0 auto;
  } */


  /* header */
  
  
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 180px 0 200px;
    
  }
  .brand{
    font-size: 3rem;
    font-weight:bold ;
  }
  .nav-item{
    font-size: 18px;
    font-weight: 500px;
    list-style: none;
    margin-right: 30px;}
  .navbar{
    text-decoration: none;
    color: rgb(66, 66, 66);
  }
  .nav-link{
    display: flex;
    
  }
  .bg-color{
    width: 1920px;
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
    margin: 0 auto;
    width: 100%;
    
  }
  .banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    
    
  }
  .banner-title{
    font-size: 4rem;
    font-weight: 700;
  
    margin-top: 36px;
  }
  .text{
    margin-top: 36px;
  }
  .banner-img{
    display: block;
    margin: auto;
    margin-top: 50px;
    
    
  }

  .teamImg{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    
    
  }
  .fdes{
    font-size: 3rem;
    font-weight: 700;
  }
  .quick{
    color: rgb(114, 114, 114);
    font-weight: 500;
  }
  span{
    color:rgb(255, 144, 14) ;
  }
  .team{
    display:flex;
    gap: 76px;
    justify-content: center;
    align-items: center;
    margin-top: 76px;
  }
 
  .line{
    width: 5px;
    height: 106px;
    background-color: rgb(255, 144, 14);
    border-radius: 2px;
    
  }
  .features{
    display: flex;
    
    align-items: center;
    gap:16px;
  }
  .destop{
    font-size: 20px;
    font-weight: 600;
  }
  .container{
    border-radius: 8px;
    

box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
width: 586px;
height: 151px;
padding: 30px;
margin-bottom: 20px;

  }
  .rectangle{
    width: 708px;
    height: 982px;
  }
  .box{
    display: flex;
    gap: 92px;
    align-items: center;
   
    justify-content: center;
    margin-top: 130px;
  }
  .experience-badge{
    width: 342px;
    height: 200px;
   
    border-radius: 8px;
    background-color: rgb(255, 144, 14);
    border: none;
    margin-left: -92px;
    margin-top: -100px;
    
  }
  .ex-year{
    font-size: 65px;
    font-weight: 700;
    color: white;
    
  }
  .experience{
    font-size: 25px;
    font-weight:500 ;
    color: white;
  } 
  .fact{
    margin-left: 400px;
    margin-bottom: 100px;
  }
  .border{
    width: 241px;
    height: 241px;
    border: 2px solid rgb(255, 144, 14);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .icon-img{
    width: 45px;
    height: 45px;
    
  }
  .number{
    font-size: 45px;
    font-weight: 600;
    color: rgb(66, 66, 66);
  }
  .icon-title{
    font-size: 20px;
    font-weight: 600;
    color: rgb(114, 114, 114);
  }
  .icon{
    display: flex;
    gap: 124px;
    justify-content: center;
  }
  .center{
    text-align: center;
  }
  .logo-grp{
    display: flex;
    align-items: center;
    gap: 155px;
    justify-content: center;
    margin-top: 50px;

  }
  .logo{
    filter: grayscale(100%);
  }
  .sponsors{
    margin-top: 180px;
  }
  .footer{
    width: 1440px;
    height: 100px;
    background: rgba(255, 144, 14, 0.1);
    margin: 0 auto;
    margin-top: 130px;
  }
  .footer-text{
    font-size: 20px;
    font-weight: 400;
    color: rgb(66, 66, 66);
    text-align: center;
    padding: 38px 410px;
  }
  @media screen and (max-width: 576px) {
    
    .nav, .nav-link,.banner-content{
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
    .banner-img{
      width: 100%;
      
    }
    .btn-primary{
      display: block;
      margin: 0 auto;
    }
    .team{
      flex-direction: column;
      padding: 20px;
    }
    .teamImg{
      display: grid;
      grid-template-columns: repeat(1,1fr);
    }
    .box{
      flex-direction: column;
      
    }
    .rectangle{
      width: 100%;
      height: 100%;
    }
    .experience-badge{
      margin-left: 18px;
    }
    .container{
      margin-left: 220px;
      padding: 50px;
    }
    .container>p{
      width: 50%;
    }
    .paragraph{
      margin-left: 100px;
    }
      
  
    .features{
      margin-left: 270px;
      margin-right: 300px;
      
      
    }
    .fact{
      margin: 0;
      margin-left: 20px;
    }
    .icon{
      flex-direction: column;
      margin-left: 20px;
    }
    .align{
      
      text-align: start;
    }
    .logo-grp{
      flex-direction: column;
      margin-left: -50px;
    }
    .footer{
      width: 100%;
      margin-left: -20px;
    }
    .footer-text{
      padding: 0;
      padding-top: 30px;
    }
  }

  @media screen and (min-width: 576px) and (max-width:992px){
    
    .nav, .nav-link,.banner-content{
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
    .banner-img{
      width: 100%;
      
    }
    .btn-primary{
      display: block;
      margin: 0 auto;
    }
    .team{
      flex-direction: column;
      padding: 20px;
    }
    .teamImg{
      display: grid;
      grid-template-columns: repeat(1,1fr);
    }
    .box{
      flex-direction: column;
      
    }
    .rectangle{
      width: 100%;
      height: 100%;
    }
    .experience-badge{
      margin-left: 18px;
    }
    .container{
      margin-left: 220px;
      padding: 50px;
    }
    .container>p{
      width: 50%;
    }
    .paragraph{
      margin-left: 100px;
    }
      
  
    .features{
      margin-left: 270px;
      margin-right: 300px;
      
      
    }
    .fact{
      margin: 0;
      margin-left: 20px;
    }
    .icon{
      flex-direction: column;
      margin-left: 20px;
    }
    .align{
      
      text-align: start;
    }
    .logo-grp{
      flex-direction: column;
      margin-left: -50px;
    }
    .footer{
      width: 100%;
      margin-left: -20px;
    }
    .footer-text{
      padding: 0;
      padding-top: 30px;
    }
  }